@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?ed8qej');
  src:  url('./fonts/icomoon.eot?ed8qej#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?ed8qej') format('truetype'),
    url('./fonts/icomoon.woff?ed8qej') format('woff'),
    url('./fonts/icomoon.svg?ed8qej#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-upload:before {
  content: "\e961";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-spinner3:before {
  content: "\e97c";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-upload3:before {
  content: "\e9c8";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-left:before {
  content: "\ea38";
}
